

<div class="my-profile">
    <!-- <h3>{{profileDetails.firstName|uppercase}} </h3>
    <h3>{{profileDetails.city|titlecase}} </h3>
    <h3>{{profileDetails|json}} </h3>
    <h3>{{profileDetails.dateOfJoining}} </h3>
    <h3>{{profileDetails.dateOfJoining |date:'fullDate' }} </h3> -->
    <!-- <h3>{{profileDetails.dateOfJoining| date:'shortDate' }} </h3>
    <h3>{{profileDetails.dateOfJoining| date:'mediumDate' }} </h3>
    <h3>{{profileDetails.dateOfJoining| date:'short' }} </h3>
    <h3>{{profileDetails.dateOfJoining| date:'medium' }} </h3>
    <h3>{{profileDetails.dateOfJoining| date:'full' }} </h3> -->
</div>

